/* цвет основного текста #212121*/
/* вторичный цвет текста #757575 */
/* цвет акцента #2196F3 */
/* белый цвет #FFFFFF */
/* основной цвет фона #E5E5E5*/
/* вторичный цвет фона #AFB1B8*/
/* цвет футера #2F303A*/
/* #EEEEEE*/
/* черный цвет #000000*/
/* неполный белый rgb(255,255,255,0.6)*/

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #afb1b8;
  --footer-color: #2f303a;
  --black-color: #000000;
  --opacity-white-60: rgb(255, 255, 255, 0.6);
  --opacity-white-40: rgb(255, 255, 255, 0.4);
  --portfolio-primary-background-color: #f5f4fa;
  --portfolio-secondary-background-color: #eeeeee;
}
/*html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*/
.page {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* Logo */
.logo {
  color: var(--black-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: Raleway;
}
.logo span {
  color: var(--accent-color);
}
/* Site nav */

.site-nav .link {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
.cont-nav a {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2x;
  letter-spacing: 0.02em;
}

.cont-nav a:hover,
.cont-nav a:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: var(--white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: var(--primary-background-color);
}

.section-title {
  color: var(--primary-text-color);
}

/* Features */
.feature-list .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/*Work*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.work-list .title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
/*Team*/
.team-list .text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
/*Clients*/

/*Footer*/
.page-footer .logo {
  color: var(--white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
}
.addres {
  color: var(--white-color);
  font-style: normal;
}
.addres .addres-list a {
  color: var(--opacity-white-60);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-text {
  color: var(--opacity-white-40);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/*Button*/
.button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: Roboto, sans-serif;
}

/*Portfolio*/
.portfolio-nav button {
  color: var(--primary-text-color);
  background-color: var(--portfolio-primary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: Roboto, sans-serif;
}

.portfolio-nav button:hover,
.portfolio-nav button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
/*абзац ховер
.project-list .title {
  color: var(--secondary-text-color);
}

.project-list .text:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}
*/
.project-list .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-list .title {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.project-list .text {
  background-color: var(--portfolio-secondary-background-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}
